<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/parts/base :: head(~{::title})">
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body class="text-center">

<th:block th:replace="/parts/navbar :: navbar" />

<div class="vstack gap-2 col-md-4 mx-auto mt-5">

    <form class="" method="post" th:action="@{/login}">

        <img class="mb-4" src="../image/logo/burger.png" alt="" width="72" height="72"/>


        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            Please, check your username / password
        </div>

        <div class="alert alert-success" role="alert" th:if="${success}">
            [[${username}]] was successfully registered!
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            <label for="username">Username</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-warning mb-3" type="submit">Sign in</button>
        <a th:href="@{/register}" class="text-warning">Don't have an account?</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2023 Burger Hub, Inc</p>
    </form>

</div>

    <th:block th:replace="/parts/base :: boot_script" />

</body>
</html>